html {
  overflow: hidden;
}

.toolbar-controls {
  display: flex;
  height: 100%;
  width: -webkit-fill-available;
  align-items: center;
}

.toolbar-controls > * {
  padding-top: 20px;
}

.fill-height {
  height: 100%;
}

.tag-graph-node {
  stroke-width: 1;
}

.tag-graph-link {
  stroke-width: 1;
}

.tag-graph-link--default {
  stroke: var(--color-surface-raised);
}

.tag-graph-node--default {
  fill: var(--color-surface-raised);
  stroke: var(--color-surface-raised);
}

.tag-graph-label {
  font-size: 10px;
  stroke: var(--color-background);
  paint-order: stroke;
  cursor: pointer;
}

.tag-graph-label--default {
  fill: var(--color-text-primary);
}
